In [9]:
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout, Flatten
from keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

C:\Users\victorm\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
features = train.drop('label', axis=1)
labels = train['label']

In [27]:
# como temos um problema multi-classe, transformamos as coluna label em 10 colunas binarias
one_hot_labels = keras.utils.to_categorical(labels, num_classes=10)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(features, one_hot_labels, test_size=0.33, random_state=42)

In [30]:
dim = len(features.columns)

In [31]:
model = Sequential()
# camada de entrada e primeira camada escondida
model.add(Dense(500, input_dim=dim, kernel_initializer='normal', activation='sigmoid'))
# segunda camada escondida 
model.add(Dense(250, activation='sigmoid'))
# camada de saida, com 10 neuronios, um para cada classe. Significa que o neuronio que responder estarah classificando a amostra
model.add(Dense(10, activation='softmax'))

In [32]:
# compila o modelo
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

In [33]:
# treinamento
model.fit(X_train, y_train)

Epoch 1/1
28140/28140 [==============================] - 10s 352us/step - loss: 0.0691 - acc: 0.9761

In [35]:
# teste
print(model.metrics_names)
model.evaluate(X_test, y_test)

['loss', 'acc']
13860/13860 [==============================] - 1s 74us/step

[0.049134747722706235, 0.9829653706901518]

In [51]:
# base de teste da competicao. Base que nao possui os labels previamente.
prediction = model.predict_classes(test)
kaggle_result = pd.DataFrame()
kaggle_result['ImageId'] = [i+1 for i, val in enumerate(prediction)]
kaggle_result['Label'] = prediction

In [52]:
kaggle_result.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [56]:
kaggle_result.to_csv('submission.csv', index=False)